nav {
    z-index: 100;
    padding: 0px 36px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    background: rgb(249, 249, 249);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    transition: 0.3s;
}
